<template>
  <div class="map">
    <l-map ref="map" :center="center" :zoom="zoom">
      <l-tile-layer :url="url"></l-tile-layer>
      <vue-geoman :map="mapObject" v-if="mapObject" />
      <l-marker v-for="(marker, i) in markers" :key="i"
        draggable :lat-lng="marker">
        <l-tooltip>Olá mundo!</l-tooltip>
        <l-popup>Eu sou um popup!</l-popup>
      </l-marker>
      <l-control-scale position="topright" :imperial="false" :metric="true"></l-control-scale>
      <l-control-layers position="bottomright"></l-control-layers>
      <l-tile-layer
        v-for="tileProvider in tileProviders"
        :key="tileProvider.name"
        :name="tileProvider.name"
        :visible="tileProvider.visible"
        :url="tileProvider.url"
        :attribution="tileProvider.attribution"
        layer-type="base"/>
    </l-map>
  </div>
</template>

<script>
import {LControlScale, LControlLayers} from 'vue2-leaflet';
import { LPopup, LTooltip } from "vue2-leaflet"
import VueGeoman from './VueGeoman.vue'
export default {
  components: {
    'l-popup': LPopup,
    'l-tooltip': LTooltip,
    'vue-geoman': VueGeoman,
    LControlScale,
    LControlLayers
  },
  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 13,
      center: {lat:-7.142305, lng:-34.8572066},
      tileProviders: [
        {
          name: 'OpenStreeMap',
          visible: true,
          attribution:
            '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
          url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        },
        {
          name: 'OpenTopoMap',
          visible: false,
          url: 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
          attribution:
            'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',

        },
      ], 
      /*markers: [
        {lat:-7.162305, lng:-34.8552066},
        {lat:-7.122305, lng:-34.8572066},
        {lat:-7.142305, lng:-34.8672066},
        {lat:-7.148305, lng:-34.8502066},
      ],*/
      mapObject: null
    };
  },
  mounted() {
    this.mapObject = this.$refs.map.mapObject
  }
}
</script>

<style scoped>
  .map {
    height: 90vh;
    width: 100vw;
  }
</style>