<template>
    <div>
        <header>
            <h1>Web<span>Gis</span><img src="../assets/iconWeeb.png"></h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Descrições</a></li>
                </ul>
            </nav>
        </header>
    </div>
</template>

<script>


</script>

<style>
* {
    margin: 0;
    padding: 0;
}

img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    
}

header {
    width: 100%;
    height: 70px;
    background-color: #282828;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: #38ca74;
}

span {
    color: #ffffff;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 15px 30px;
}

a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover {
    color: #F0c330;
    transition: 0.5s;
}
</style>
